{% extends 'index.html' %}
{% block title %}Male Category{% endblock title %}

{% block content %}
    {% for item in all_male_list %}
        <div class="card-deck">
            {% if 'Male' in item.categories %}
              <div class="card" style="width: 18rem;">
                <a href="{% url 'post_detail' item.pk %}"><img class="card-img-top" src="{{ item.image.url }}" ></a>
                <div class="card-body">
                  <h4 class="card-text"><b>{{ item.item }}</b></h4>
                  <p class="card-text">${{ item.price }}</p>
                  <p class="card-text"> {{ item.seller }}</p>
                </div>
              </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}