{% extends 'index.html' %}
{% block title %}Pants Category{% endblock title %}

{% block content %}
    {% for item in all_pants_list %}
        {% if 'pants' in item.categories %}
            <div class="card post-entry" style="width: 18rem;">
                <a href="{% url 'post_detail' item.pk %}"><img src="{{ item.image.url }}" style="width:100%"></a>
                <div class="container">
                    <h4><b>{{ item }}</b></h4>
                    <p>$ {{ item.price }}</p>
                    <p> {{ item.seller }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}