<!DOCTYPE html>
{% load static %}


<header>

    <link  href="static/css/style.css" rel="stylesheet">

</header>

<body>
   <div class="card">
        <img src="https://images.stockx.com/360/Air-Jordan-1-Retro-High-Dark-Mocha/Images/Air-Jordan-1-Retro-High-Dark-Mocha/Lv2/img01.jpg?auto=compress&dpr=2&updated_at=1616187367&fit=clip&fm=webp&ixlib=react-9.1.5&q=90&w=1140" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Fire Shoes</b></h4>
          <p>Price: $4.5M</p>
        </div>
    </div>

    {% block content %}


    
    {% endblock content %}
    
     
    
    
</body>


