{% load static %}
<head>
  <meta charset="utf-8">
  <title>{% block title %}Shelf Wear{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">  
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-4" href="{% url 'home' %}" id="title">Shelf Wear</a>
    {% if user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <div class="navbar-nav">
      <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
    </div>
    <ul class="navbar-nav" id="dropdown">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Men's
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'male_list' %}">All</a></li>
          <li><a class="dropdown-item" href="/male/tops">Tops</a></li>
          <li><a class="dropdown-item" href="/male/pants">Pants</a></li>
          <li><a class="dropdown-item" href="/male/shoes">Shoes</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Women's
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'female_list' %}">All</a></li>
          <li><a class="dropdown-item" href="/female/tops">Tops</a></li>
          <li><a class="dropdown-item" href="/female/pants">Pants</a></li>
          <li><a class="dropdown-item" href="/female/shoes">Shoes</a></li>
        </ul>
    </li>
    </ul>
    {% url 'male' as male_url %}
    {% url 'female' as female_url %}
    {% url 'male/pants' as mpants_url %}
    {% url 'home' as home_url %}
    {% if request.get_full_path == home_url %}
      <form action="{% url 'search' %}" class="d-flex">
          <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    {% endif %}
  </div>
  <ul class="navbar-nav" id="dropdown">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-right: 15px !important;">
        {{ user.username }}
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
        <li><a class="dropdown-item" href="{% url 'user_account' user.pk %}"><i class="fas fa-user-circle"></i>&nbsp; Account</a></li>
        <li><a class="dropdown-item" href="{%url 'contact_email' %}"><i class="far fa-envelope"></i>&nbsp; Contact Us</a></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>&nbsp; Log Out</a></li>
      </ul>
    </li>
  </ul>
  <div>
    <a href="{% url 'shopping_cart' %}"><img id="shopping-cart" src="https://icons.veryicon.com/png/o/miscellaneous/color-work-icon/shopping-cart-112.png" alt="shopping cart" style="width: 50px !important; height: 45px !important; margin-right: 10px !important; margin-top: 5px !important;"></a>
  </div>
    {% else %}
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </div>
        <ul class="navbar-nav" id="dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Men's
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'male_list' %}">All</a></li>
              <li><a class="dropdown-item" href="/male/tops">Tops</a></li>
              <li><a class="dropdown-item" href="/male/pants">Pants</a></li>
              <li><a class="dropdown-item" href="/male/shoes">Shoes</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Women's
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'female_list' %}">All</a></li>
              <li><a class="dropdown-item" href="/female/tops">Tops</a></li>
              <li><a class="dropdown-item" href="/female/pants">Pants</a></li>
              <li><a class="dropdown-item" href="/female/shoes">Shoes</a></li>
            </ul>
          </li>
        </ul>
        <form action="{% url 'search' %}" class="d-flex">
          <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="btn btn-primary me-2" href="{% url 'login' %}">Login</a>
      <a class="btn btn-primary me-2" href="{% url 'signup' %}">Sign up</a>
    {% endif %}
</nav>
<main>
{% block content %}
  <div class="heading">
    <p class="coupon-description">
      <span class="cms-avenirdemi">
        Graduation Celebration: August 14th | 50% Off over $200 | 35% Off over $60  | 25% Off over $30. codes: FIFTY, THIRTYFIVE, or TWENTYFIVE. &nbsp;
      </span>
    </p>
  </div>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item">
      <img class="carousel-image" src="https://www.livekindly.co/wp-content/uploads/2018/09/Skaters-Cropped-1.jpg" alt="Men's" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1 style="color: rgb(255, 255, 255)">Shop Men</h1>
          <h4>Wear clothes that describes you!</h4>
          <p><a class="btn btn-lg btn-primary" href="{% url 'male_list'  %}">Men's</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="carousel-image" src="https://i.pinimg.com/originals/4c/65/c1/4c65c1731a761b32b3aacffc843c09eb.jpg" alt="Women's" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
      <div class="container">
        <div class="carousel-caption">
          <h1>Shop Women</h1>
          <h4>Show your clothing fashion</h4>
          <p><a class="btn btn-lg btn-primary" href="{% url 'female_list' %}">Women's</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <!-- <img class="carousel-image" src="https://i.ibb.co/1dm7ZP1/2-CF4-CD6-D-2637-4-CC6-92-F3-3-D8-E12-F775-A0.jpg" alt="All" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"> -->
      <img class="carousel-image" src="https://www.stellenanzeigen.de/blog/wp-content/uploads/2018/01/Urlaubsplanung-Brueckentage-stellenanzeigen.de_-1.jpg" alt="All" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Shop Everyone</h1>
          <h4>Give clothes to family members</h4>
          <p><a class="btn btn-lg btn-primary" href="#">Everyone</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div class="card-deck">
    {% for post in object_list %}    
      <div class="card" style="width: 18rem;">
        <a href="{% url 'post_detail' post.pk %}"><img class="card-img-top" src="{{ post.image.url }}" ></a>
        <div class="card-body">
          <p class="card-text"><b>{{ post.item }}</b></p>
          <p class="card-text">${{ post.price }}</p>
          <p class="card-text"> {{ post.seller }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>