{% extends 'index.html' %}
{% load static %}
{% block title %}Sell Item{% endblock title %}
{% block content %}
<h1 id="selling-item-header">Items you're selling!</h1>
<div class="selling-flex">
  <a class="sell-btn" href="{% url 'post_new' %}">Sell</a>
</div>
<div class="card-deck">
  {% for post in item_posts %}
    <div class="card" style="width: 18rem;">
      <a href="{% url 'post_detail' post.pk %}"><img class="card-img-top" src="{{ post.image.url }}" ></a>
      <div class="card-body">
        <h4 class="card-text"><b>{{ post.item }}</b></h4>
        <p class="card-text">${{ post.price }}</p>
        <p class="card-text"> {{ post.seller }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}