{% extends 'index.html' %}

{% block content %}
<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <div class="item-edit-wrapper">
        <div class="row">
            <h1>Update</h1>
            <div class="form-control">
                {{ form.item }}
                <span class="toggle">
                    <i class="fas fa-box"></i>
                </span>
            </div>
            <div class="form-control">
                {{ form.price }}
                <span class="toggle">
                    <i class="fas fa-tag"></i>
                </span>
            </div>
            <div class="form-control">
                {{ form.categories }}
                <span class="toggle">
                    <i class="fas fa-arrow-down"></i>
                </span>
            </div>
            <div class="form-control">
                {{ form.gender }}
                <span class="toggle">
                    <i class="fas fa-arrow-down"></i>
                </span>
            </div>
            <div class="form-control">
                {{ form.image }}
            </div>
            <div class="form-control">
                <label>Description:</label>
                {{ form.description }}
            </div>
            <input class="btn" type="submit" value="Update">
           
        </div>
    </div>
    </form>
</div>
<style>
body {
    background: #a5a5a5;    
}
</style>
    
    <script>
    const form = document.getElementsByTagName("input");
    form[2].placeholder = "Item Name";
    form[4].className += "image-edit";
    form[3].setAttribute("min", "0");
    form[3].setAttribute("max", "10000");
    form[3].getAttribute("step");
    form[3].placeholder = "Price";
    form[3].setAttribute("style", "padding-right: 16px !important;");
    </script>
{% endblock content %}