{% extends 'index.html' %}

{% block content %}
    <div class="card-deck">
        {% for post in favorite_posts %}    
            <div class="card" style="width: 18rem;">
                <a href="{% url 'post_detail' post.pk %}"><img class="card-img-top" src="{{ post.image.url }}" ></a>
                <div class="card-body">
                    <h4 class="card-text"><b>{{ post.item }}</b></h4>
                    <p class="card-text">${{ post.price }}</p>
                    <p class="card-text"> {{ post.seller }}</p>
                </div>
            </div>
        {% empty %}
            <div>
                <h3>You have no favorites</h3>
            </div>
        {% endfor %}
    </div>
{% endblock content %}