{% extends 'index.html' %}
{% load static %}

{% block title %}Detail Page{% endblock title %}

{% block content %}
<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .one {
    margin-left: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 3 ;
  }

  .two {
    margin-left: 30px;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }

  .three {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  .cart {
    background-color: blanchedalmond;
    grid-column: 4;
    grid-row: 1 / 5;
  }

  .review {
    margin-left: 10px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .favorite {
    display: flex;
    justify-content: flex-end;
    grid-column: 3;
    grid-row: 1;
  }

</style>
  <div class="wrapper">
    <div class="one">
      <img class="float-left" src="{{ post.image.url }}" style="width:100%">
    </div>
    <div class="two">
      <h2 class="float-right">{{ post.item }}</h2>
      <h3>{{ post.categories }}</h3>
      <p>${{ post.price }}</p>
      <p>{{ post.seller }}</p>
      <hr>
      <ul>
        <li class="card-text">{{ post.description }}</li>
      </ul>
    </div>
    <div class="cart">
      {% if cart %}
        <a href="{% url 'shopping' object.pk %}">
          <i class="fas fa-star"></i>Check out
        </a>
      {% else %}
        <a href="{% url 'shopping' object.pk %}">
          <i class="far fa-star"></i>
        </a>
      {% endif %}
    </div>
    <div class="favorite">
      {% if favorite %}
        <a href="{% url 'favorite_post' post.pk %}">
          <i class="fas fa-star"></i>Favorite
        </a>
      {% else %}
        <a href="{% url 'favorite_post' post.pk %}">
          <i class="far fa-star"></i>
        </a>
      {% endif %}
    </div>
    <div class="card-footer review">
      <a href="{% url 'review_new' post.pk %}">Leave a review</a>
      {% for review in post.reviews.all %}
          <p>
              <span class="font-weight-bold">
                  {{ review.author }} &middot;
              </span>
              {{ review }}
          </p>
      {% endfor %}
    </div>
    <br>
    <div class="three">
      <h3>Related Items</h3>      
      <div class="card-deck">
        {% for item in related_items %}
                <div class="card post-entry" style="width: 18rem;">
                    <a href="{% url 'post_detail' item.pk %}"><img src="{{ item.image.url }}" style="width:100%"></a>
                    <div class="container">
                        <p><b>{{ item }}</b></p>
                        <p>$ {{ item.price }}</p>
                        <p> {{ item.seller }}</p>
                    </div>
                </div>
            
        {% endfor %}
      </div>
    </div>
{% endblock content %}