{% extends 'index.html' %}
{% block title %}Sell Item{% endblock title %}
{% block content %}
<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <div class="wrapper">
        <div class="row">
            <h1>Sell your clothes!</h1>
            <div class="form-control">
                {{ form.item }}
                <span class="toggle">
                    <i class="fas fa-box"></i>
                </span>
            </div>
            <div class="form-control">
                {{ form.image }}
            </div>
            <div class="form-control">
                {{ form.price }}
            </div>
            <div class="form-control">
                {{ form.categories }}
                <span class="toggle">
                    <i class="fas fa-arrow-down"></i>
                </span>
            </div>
            <div class="form-control">
                {{ form.gender }}
                <span class="toggle">
                    <i class="fas fa-arrow-down"></i>
                </span>
            </div>
            <div class="form-control">
                <label>Description:</label>
                {{ form.description }}
            </div>
            <button class="btn" type="submit">
                Sell
            </button>
        </div>
    </div>
</form>

<style>
body {
    background: #a5a5a5;    
}

.wrapper {
    width: 600px;
    height: auto;
    padding: 25px 7px;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 7px;
    margin-top: 130px;
}

.wrapper .row {
    width: 80%;
    position: flex;
    margin: auto;
}

.wrapper h1 {
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-width: 0px !important;
}

.wrapper input {
    width: 100%;
    padding: 0 40px 0 20px;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: #f1f2f6;
    font-size: 16px;
}

.wrapper input[type=file] {
    background-color: white;
    margin-bottom: 0px !important;
}

.image-edit::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #0f6efd;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}

.wrapper select {
	background-color: #fff;
    width: 100%;
    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    padding: 0 40px 0 20px;
    height: 50px;
    border: none;
    margin-bottom: 20px;
    background-color:  #f1f2f6  ;
    font-size: 16px;
    box-shadow:none;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

.wrapper textarea {
    width: 452px;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

.wrapper .toggle {
    position: relative;
}

.wrapper .toggle i {
    position: absolute;
    top: 4px;
    right: 15px;
    color: #778ca3;
}

.wrapper .btn {
    width: 100px;
    padding: 10px;
    margin: 0 0 8px 12px;
    border-radius: 7px;
    outline: none;
    border: none;
    color: #fff;
    background: #0f6efd;
    cursor: pointer;
}
</style>

<script>
const form = document.getElementsByTagName("input");
form[2].placeholder = "Item Name";
form[3].className += "image-edit";
form[4].setAttribute("min", "0");
form[4].setAttribute("max", "10000");
form[4].getAttribute("step");
form[4].placeholder = "Price";
form[4].setAttribute("style", "padding-right: 15px !important;");
</script>
{% endblock content %}