{% extends 'index.html' %}

{% block content %}
<div class="post-entry center padding">
    <h1>Delete Items</h1>
    <form action="" method="post">
        {% csrf_token %}
        <h4>Are you sure you want to delete "{{ post.item }}"?</h4>
        <input class="delete" type="submit" value="Confirm">
    </form>
</div>
<style>
    .padding{
        padding-top: 150px;
    }
    .delete {
    background-color: #cc1d1d;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 15px 44.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
</style>

{% endblock content %}