{% extends 'index.html' %}
{% load static %}

{% block title %}Detail Page{% endblock title %}

{% block content %}
<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .one {
    margin-left: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 3 ;
  }

  .two {
    margin-left: 10px;
    grid-column: 2 / 5;
    grid-row: 1 / 3;

  }

  .three {
    grid-column: 1 / 5;
    grid-row: 4;
  }

  .cart {
    grid-column: 2 / 5;
    grid-row: 3;
    margin-left: 10px;
  }

  .review {
    margin-left: 10px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .favorite {
    display: flex;
    justify-content: flex-end;
    grid-column: 4;
    grid-row: 1;
    margin-right: 15px;
  }

  .remove-cart {
    background-color: #cc1d1d;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 15px 44.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .remove-cart:hover {
    color: white;
  }

  .add-cart {
    background-color: #3da3c2;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
  }

  .add-cart:hover {
    color: white;
  }
</style>
{% if user.is_authenticated %}
  <div class="wrapper">
    <div class="one">
      <img class="float-left" src="{{ post.image.url }}" style="width:100%; height: auto;">
    </div>
    <div class="two">
      <h2 class="float-right">{{ post.item }}</h2>
      
      <p>${{ post.price }}</p>
      <p class="font-weight-bold">Seller: <span >{{ post.seller }}</span></p>
      <hr>
      <ul>
        <li class="card-text">{{ post.description }}</li>
      </ul>
    </div>
    <div class="cart">
      {% if cart %}
        <a class="remove-cart" href="{% url 'shopping' object.pk %}" style="float: right;">
          Remove
        </a>
      {% else %}
        <a class="add-cart" href="{% url 'shopping' object.pk %}" style="float: right; padding-right: 5%;">
          Add to Cart
        </a>
      {% endif %}
    </div>
    <div class="favorite">
      {% if favorite %}
        <a href="{% url 'favorite_post' post.pk %}">
          <i class="fas fa-2x fa-star"></i>
        </a>
      {% else %}
        <a href="{% url 'favorite_post' post.pk %}">
          <i class="far fa-2x fa-star"></i>
        </a>
      {% endif %}
    </div>
    <div class="card-footer review">
      <a href="{% url 'review_new' post.pk %}">Leave a review</a>
      {% for review in post.reviews.all %}
        <p>
            <span class="font-weight-bold">
                {{ review.author }} &middot;
            </span>
            {{ review }}
        </p>
      {% endfor %}
    </div>
    <br>
    <div class="three">
      <h3 style="text-align: center;">Related Items</h3>
      <div class="card-deck">
        {% for item in related_items %}
          <div class="card post-entry" style="width: 18rem;">
              <a class="messUp" href="{% url 'post_detail' item.pk %}"><img src="{{ item.image.url }}" style="width:100%"></a>
              <div class="container">
                  <p><b>{{ item }}</b></p>
                  <p>$ {{ item.price }}</p>
                  <p> {{ item.seller }}</p>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% else %}
<div class="wrapper">
    <div class="one">
      <img class="float-left" src="{{ post.image.url }}" style="width:100%; height: auto;">
    </div>
    <div class="two">
      <h2 class="float-right">{{ post.item }}</h2>
      
      <p>${{ post.price }}</p>
      <p class="font-weight-bold">Seller: <span >{{ post.seller }}</span></p>
      <hr>
      <ul>
        <li class="card-text">{{ post.description }}</li>
      </ul>
    </div>
    
    
    <div class="card-footer review">
        <p>Please Log in to leave a review</p>
      {% for review in post.reviews.all %}
        <p>
            <span class="font-weight-bold">
                {{ review.author }} &middot;
            </span>
            {{ review }}
        </p>
      {% endfor %}
    </div>
    <br>
    <div class="three">
      <h3 style="text-align: center;">Related Items</h3>
      <div class="card-deck">
        {% for item in related_items %}
          <div class="card post-entry" style="width: 18rem;">
              <a class="messUp" href="{% url 'post_detail' item.pk %}"><img src="{{ item.image.url }}" style="width:100%"></a>
              <div class="container">
                  <p><b>{{ item }}</b></p>
                  <p>$ {{ item.price }}</p>
                  <p> {{ item.seller }}</p>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endif %}
{% endblock content %}