{% extends 'index.html' %}
{% block title %}Add a review{% endblock title %}
{% block content %}
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <div class="wrapper">
            <div class="row">
                <h1>Review!</h1>
                <div class="form-control">
                    <label>Review:</label>
                    {{ form.review }}
                </div>
                <button class="btn" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>

<style>
body {
    background: #a5a5a5;    
}

.wrapper {
    width: 600px;
    height: auto;
    padding: 25px 7px;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 7px;
    margin-top: 10px;
}

.wrapper .row {
    width: 80%;
    position: flex;
    margin: auto;
}

.wrapper h1 {
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-width: 0px !important;
}

.wrapper input {
    width: 100%;
    padding: 0 40px 0 20px;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: #f1f2f6;
    font-size: 16px;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

.wrapper textarea {
    width: 452px;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 5px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

.wrapper .btn {
    width: 100px;
    padding: 10px;
    margin: 0 0 8px 12px;
    border-radius: 7px;
    outline: none;
    border: none;
    color: #fff;
    background: #0f6efd;
    cursor: pointer;
}
</style>
{% endblock content %}