{% extends 'index.html' %}
{% block title %}Add a review{% endblock title %}
{% block content %}
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <div class="review-wrapper">
            <div class="row">
                <h1>Review!</h1>
                <div class="form-control">
                    <label>Review:</label>
                    {{ form.review }}
                </div>
                <button class="btn" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>

<style>
body {
    background: #a5a5a5;    
}
</style>
{% endblock content %}