{% extends 'index.html' %}
{% block title %}Search{% endblock title %}

{% block content %}
<div class="card-deck">
    {% for item in object_list %}
            <div class="card post-entry" style="width: 18rem;">
                <a href="{% url 'post_detail' item.pk %}"><img src="{{ item.image.url }}" style="width:100%"></a>
                <div class="container">
                    <p><b>{{ item }}</b></p>
                    <p>$ {{ item.price }}</p>
                    <p> {{ item.seller }}</p>
                </div>
            </div>
    {% empty %}
            <p>We couldn't find what you are looking for</p>
    {% endfor %}
</div>
{% endblock content %}