{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>
<div class="shopping-cart-wrapper">
  <div class="item-listing">
    <h1 class="shopping-cart-title">Shopping Cart</h1>
    <div class="shopping-cart">
      {% if shopping_cart >= 1 %}
      <h3 class="item-count">{{ shopping_cart_list.count }} item</h3>
      {% else %}
      <h3 class="item-count">0 item</h3>
      {% endif %}
      <div class="bar"></div>
      <div class="column-labels">
        <label class="product-image"></label>
        <label class="product-details"></label>
        <label class="product-removal"></label>
        <label class="product-price"></label>
        <!-- <label class="product-quantity">Quantity</label> -->
      </div>
      {% for item in shopping_cart_list %}
      <div class="product">
        <div class="product-image">
            <a href="{% url 'post_detail' item.pk %}"><img class="card-img-top" src="{{ item.image.url }}" ></a>
        </div>
        <div class="product-details">
          <div class="product-title">{{ item }}</div>
          <p class="product-description">{{ item.description }}</p>
        </div>
        <!-- <div class="product-quantity">
          <input type="number" value="1" min="1">
        </div> -->
        <div class="product-removal">
          <a class="remove-product" href="{% url 'shopping' item.pk %}">
            Remove
          </a>
        </div>
        <div class="product-price-detail">${{ item.price }}</div>
      </div>
      {% empty %}
        <div>
          <h3>Your cart is empty</h3>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="calculating-section">
    <div class="totals">
      {% if shopping_cart >= 1 %}
      <div class="totals-item margin-top">
        <label>Subtotal</label>
        <div class="totals-value flex" id="cart-subtotal">{{ total }}</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Shipping</label>
        <div class="totals-value flex" id="cart-shippping">5.00</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Tax 7%</label>
        <div class="totals-value flex" id="cart-shippping">{{ tax_amount }}</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value flex" id="cart-total">{{ total_cost }}</div>
      </div>
      <div class="promo-code">
        <label>Discount</label>
        <input class="code" disabled>
        <button class="btn" disabled>Apply</button>
      </div>
      <button class="checkout" type="submit" id="buy_now_btn">Checkout</button>
      {% else %}
      <div class="totals-item">
        <label>Subtotal</label>
        <div class="totals-value" id="cart-subtotal">0.00</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Shipping</label>
        <div class="totals-value" id="cart-shipping">0.00</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Tax 7%</label>
        <div class="totals-value" id="cart-shipping">0.00</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value" id="empty-cart">0.00</div>
      </div>
      <div class="promo-code">
        <label>Discount</label>
        <input class="code" disabled>
        <button class="btn" disabled>Apply</button>
      </div>
      <button class="checkout-no-items" type="submit" onclick="alert('Add items into shopping cart')">Checkout</button>
      {% endif %}
    </div>
    <script src="https://js.stripe.com/v3/"></script>

  </div>
</div>
</body>

<script>
let input = document.getElementsByTagName("input")
input[1].placeholder = "Enter Promo Code"

var stripe =  Stripe('{{ stripe_public_key }}');
const buy_now_button = document.querySelector('#buy_now_btn')
buy_now_button.addEventListener('click', event => {
  stripe.redirectToCheckout({
  sessionId: '{{ session_id }}'
}).then(function(result){

  });

})
const fadeTime = 300;

/* Assign actions */
let remove = document.querySelector('.product-removal .remove')
remove.click( function() {
  removeItem(this);
});

/* Remove item from cart */
function removeItem(removeButton) {
  var productRow = $(removeButton).parent().parent();
  productRow.slideUp(fadeTime, function() {
    productRow.remove();
  });
}
</script>
</form>

{% endblock content %}