{% extends 'index.html' %}
{% load static %}

{% block title %}Receipt{% endblock title %}

{% block content %}
<div style="text-align: center;">
  <h1>Thanks for shopping with Shelf Wear!</h1>
  <p>
    We appreciate your business!
    If you have any questions, please email
    <a href="mailto:shelf.wear1@gmail.com">shelf.wear1@gmail.com</a>.
  </p>
  <div class="receipt-total-wrapper">
    <div class="calculating-total">
      <div class="totals">
        <div class="totals-item">
          <label>Subtotal</label>
          <div class="totals-value receipt-flex" id="cart-subtotal">{{ total }}</div>
        </div>
        <div class="totals-item">
          <label>Tax 7%</label>
          <div class="totals-value receipt-flex" id="cart-shippping">{{ tax_amount }}</div>
        </div>
        <div class="totals-item">
          <label>Shipping</label>
          <div class="totals-value receipt-flex" id="cart-shippping">5.00</div>
        </div>
        <div class="totals-item totals-item-total">
          <label>Grand Total</label>
          <div class="totals-value receipt-flex">{{ total_cost }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="receipt-wrapper">
    <div class="receipt-items">
      <h2 class="receipt-title">Receipt</h2>
      <div class="receipt-shopping-cart">
        <h3 class="receipt-item-total">{{ total_items }} item</h3>
        <div class="receipt-bar"></div>
        <div class="column-labels">
          <label class="product-image"></label>
          <label class="product-details"></label>
          <label class="product-price"></label>
          <!-- <label class="product-quantity">Quantity</label> -->
        </div>
        {% for item in shopping_cart %}
          <div class="receipt-product">
            <div class="receipt-product-image">
                <a href="{% url 'post_detail' item.pk %}"><img class="card-img-top" src="{{ item.image.url }}" ></a>
            </div>
            <div class="receipt-product-details">
              <div class="receipt-product-title">{{ item }}</div>
              <p class="receipt-product-description">{{ item.description }}</p>
            </div>
            <div class="product-removal">
            </div>
            <div class="product-price-detail">${{ item.price }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
