{% extends 'index.html' %}
{% load static %}

{% block title %}Detail Page{% endblock title %}

{% block content %}
<div style="text-align: center;">
  <h1>Thanks for shopping with Shelf Wear!</h1>
  <p>Here's the items you purchased</p>
  {% for post in shopping_cart_list %}
      <div class="product">
        <div class="product-image">
            <a href="{% url 'post_detail' post.pk %}"><img class="card-img-top" src="{{ post.image.url }}" ></a>
        </div>
        <div class="product-details">
          <div class="product-title">{{ post.item }}</div>
          <p class="product-description">{{ post.description }}</p>
        </div>
        <div class="product-removal">
          <a class="remove-product" href="{% url 'favorite_post' post.pk %}">
            Remove
          </a>
        </div>
        <div class="product-price-detail">${{ post.price }}</div>
        <!-- <div class="product-line-price">{{ post.price }}</div> -->
      </div>
    {% empty %}
        <div>
            <h3>Your cart is empty</h3>
        </div>
    {% endfor %}
  <p>If you have any problems please reach out to:</p>
  <a href="mailto:orders@example.com">orders@example.com</a>.
</div>
{% endblock content %}