{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="account-edit-wrapper">
                <div class="row">
                    <h1>Editing Account</h1>
                    <div class="form-control">
                        <label>Username:</label>
                        {{ form.username }}
                        <span class="toggle">
                            <i class="fas fa-user-circle"></i>
                        </span>
                    </div>
                    <div class="form-control">
                        <label>First Name:</label>
                        {{ form.first_name }}
                        <span class="toggle">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="form-control">
                        <label>Last Name:</label>
                        {{ form.last_name }}
                        <span class="toggle">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div class="form-control">
                        <label>Email:</label>
                        {{ form.email }}
                        <span class="toggle">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <button class="btn" type="submit">
                        Update
                    </button>
                </div>
            </div>
    </form>
</body>

<style>
body {
    background: #dbdbdb;
}
</style>
{% endblock content %}